#navbar-brand{
    text-decoration: none;
    background-color: transparent;
    font-size:x-large;
}
@media (min-width:768px){
    .navbar-toggler{
        display: none;
    }
}
p{
    background-color: white;
}
.n{
    background-color: white;
}
.navbar-toggler{
    margin-bottom: 5px;
    margin-right: 5px;
}
.navbar{
    padding: 10px 0px 10px 0px;
    padding-bottom: 1px;
}
#a{
    background-color: white;
    border: 1px solid black;
}
#design1,#design2,#design3{
    border: 4px solid white;
    padding: 3px 2px;
    background-color: gray;
}
#a3,#a4,#a5{
    background-color: transparent;
}
